<body class="text-center">
    <h1>Bank Management System</h1>
    <br>
    <main class="form-signin">
        <app-customer-login></app-customer-login>
        <br>
        <app-customer-registration></app-customer-registration>
    </main>
    <!-- <table>
            <th>customerId</th>
            <th>accountNumber</th>
            <th>username</th>
            <th>password</th>
            <th>dateOfBirth</th>
            <th>accountType</th>
            <th>citizenStatus</th>
            <th>initialDepositAmount</th>
            <th>identificationDocumentNumber</th>
            <th>identificationType</th>
        <tr *ngFor="let acc of accounts">
            <td>{{acc.customerId}}</td>
            <td>{{acc.accountNumber}}</td>
            <td>{{acc.username}}</td>
            <td>{{acc.password}}</td>
            <td>{{acc.dateOfBirth}}</td>
            <td>{{acc.accountType}}</td>
            <td>{{acc.citizenStatus}}</td>
            <td>{{acc.initialDepositAmount}}</td>
            <td>{{acc.identificationDocumentNumber}}</td>
            <td>{{acc.identificationType}}</td>
        </tr>
    </table> -->
</body>
